<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" >

    <listeners>
        <listener class-name="utility.Listeners"/>
    </listeners>

    <test  name="Login Test"  parallel="true">
        <classes >
            <class name="TestScript.LoginPageTest" >
            </class>
             <class name="TestScript.ProductPageTest"></class>
        </classes>
    </test>
</suite>